{% extends 'exchange/base.html' %}
{% load static %}

{% block style %}
    #map {
        width: 100%;
        height: 600px;
    }
{% endblock style %}

{% block head %}
    <title>ASTUS - Echange International</title>
    <link rel="stylesheet" type="text/css" href="{% static 'exchange/assets/css/MarkerCluster.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'exchange/assets/css/MarkerCluster.Default.css' %}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" integrity="sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA==" crossorigin=""></script>
    <script type='text/javascript' src="{% static 'exchange/assets/js/jquery2.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'exchange/assets/js/leaflet.markercluster.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'exchange/assets/css/jquery.rateyo.css' %}"/>
{% endblock head %}

{% block intro %}
    <h1>échange<br />
    Universitaire</h1>
    <p>"Le plus beau voyage, c'est celui qu'on n'a pas encore fait"  ~  Anonyme</p>
    <ul class="actions">
        <li><a href="#nav" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
    </ul>
{% endblock intro %}

{% block main %}
    <header class="major">
        <h2>Carte interactive</h2>
    </header>
    
    <div id="map" height="20rem">

    </div>

    <div>
        <p style="text-align:center;">
            <img src="{% static 'exchange/images/attention.png' %}" width = "25" height="25"> 
            La majorité des informations de ce site sont basées sur les avis/expériences des élèves partis en échange les années précédentes. Elles peuvent changer d'une année à l'autre, donc n'hésitez pas à chercher des informations en plus ! Ce site sert principalement à vous aider pour vous faire une première idée quant à votre échange universitaire.
            <img src="{% static 'exchange/images/attention.png' %}" width = "25" height="25"> 
        </p>
    </div>
    
    <p id="rateyotest1" style="margin:0;padding:0;">
        <script>
            $(function () {
                $("#rateyotest1").rateYo({
                    rating: 3.6,
                    readOnly: true
                });
            });
        </script>
    </p>
    
{% endblock main %}

{% block scripts %}
    //INITIALISATION
    
    //universités + coordonées + metriques / par continent
    var universiteAS = [];
    var universiteAF = [];
    var universiteAdN = [];
    var universiteAdS = [];
    var universiteEU = [];
    var universiteOC = [];
    
    //On met les infos dans chaques tableau
    {% for o in Univ_list %} 
        {% if o.City.Country.Continent == 'AS' %}
            universiteAS.push( ["{{o.Name}}",parseFloat("{{o.Lat}}".replace(',','.')),parseFloat("{{o.Long}}".replace(',','.')),"{{o.RankMetric}}","{{o.LifeMetric}}",parseInt("{{o.ID}}")] )
        {% elif o.City.Country.Continent == 'AF' %}
            universiteAF.push( ["{{o.Name}}",parseFloat("{{o.Lat}}".replace(',','.')),parseFloat("{{o.Long}}".replace(',','.')),"{{o.RankMetric}}","{{o.LifeMetric}}",parseInt("{{o.ID}}")] )
        {% elif o.City.Country.Continent == 'AdN' %}
            universiteAdN.push( ["{{o.Name}}",parseFloat("{{o.Lat}}".replace(',','.')),parseFloat("{{o.Long}}".replace(',','.')),"{{o.RankMetric}}","{{o.LifeMetric}}",parseInt("{{o.ID}}")] )
        {% elif o.City.Country.Continent == 'AdS' %}
            universiteAdS.push( ["{{o.Name}}",parseFloat("{{o.Lat}}".replace(',','.')),parseFloat("{{o.Long}}".replace(',','.')),"{{o.RankMetric}}","{{o.LifeMetric}}",parseInt("{{o.ID}}")] )
        {% elif o.City.Country.Continent == 'EU' %}
            universiteEU.push( ["{{o.Name}}",parseFloat("{{o.Lat}}".replace(',','.')),parseFloat("{{o.Long}}".replace(',','.')),"{{o.RankMetric}}","{{o.LifeMetric}}",parseInt("{{o.ID}}")] ) 
        {% elif o.City.Country.Continent == 'OC' %}
            universiteOC.push( ["{{o.Name}}",parseFloat("{{o.Lat}}".replace(',','.')),parseFloat("{{o.Long}}".replace(',','.')),"{{o.RankMetric}}","{{o.LifeMetric}}",parseInt("{{o.ID}}")] )
        {% endif %}
    {% endfor %}
    
    for(var i=0; i<universiteAS.length; i++){
        console.log(universiteAS[i])
    }
    
    //LA CARTE
        // initialize the map object, passing it the id of the div where we want the map to go
    var map = L.map("map").setView([0, 0], 2);
    
        //Creer un 'tile layer' contenant la carte
    var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    minZoom: 2,
                    maxZoom: 18,
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Points &copy 2012 LINZ'
                }).addTo(map);
    
    // add this tile layer to the map we just created
    map.addLayer(tiles);
    
    //METTRE LES MARKERS SUR CARTE
    //AS
    var markersAS = new L.MarkerClusterGroup({
        showCoverageOnHover: false,
        
    });
        for (var i = 0; i < universiteAS.length; i++) {
            var a = universiteAS[i];
            var title = a[0];
            var marker = L.marker(new L.LatLng(a[1], a[2]), { title: title });
            marker.bindPopup(title + '<br/>'+'Ranking:  '+a[3]+'/5'+'<br/>'+'Qualité de vie:  '+a[4]+'/5'+'<br/>'+'<a href=/exchange/universite/'+a[5]+'><p style="text-align:center;margin:0;padding:0;">Cliquez ici</p></a>'); //quand on clique (metter info plus url avec href accolade)
            markersAS.addLayer(marker); 
        }
        map.addLayer(markersAS);
    
    //AF
    var markersAF = new L.MarkerClusterGroup({
        showCoverageOnHover: false,
        
    });
        for (var i = 0; i < universiteAF.length; i++) {
            var a = universiteAF[i];
            var title = a[0];
            var marker = L.marker(new L.LatLng(a[1], a[2]), { title: title });
            marker.bindPopup(title + '<br/>'+'Ranking:  '+a[3]+'/5'+'<br/>'+'Qualité de vie:  '+a[4]+'/5'+'<br/>'+'<a href=/exchange/universite/'+a[5]+'><p style="text-align:center;margin:0;padding:0;">Cliquez ici</p></a>'); //quand on clique (metter info plus url avec href accolade)
            markersAF.addLayer(marker); 
        }
        map.addLayer(markersAF);
    
    //AdN
    var markersAdN = new L.MarkerClusterGroup({
        showCoverageOnHover: false,
        
    });
        for (var i = 0; i < universiteAdN.length; i++) {
            var a = universiteAdN[i];
            var title = a[0];
            var marker = L.marker(new L.LatLng(a[1], a[2]), { title: title });
            marker.bindPopup(title + '<br/>'+'Ranking:  '+a[3]+'/5'+'<br/>'+'Qualité de vie:  '+a[4]+'/5'+'<br/>'+'<a href=/exchange/universite/'+a[5]+'><p style="text-align:center;margin:0;padding:0;">Cliquez ici</p></a>'); //quand on clique (metter info plus url avec href accolade)
            markersAdN.addLayer(marker); 
        }
        map.addLayer(markersAdN);
    
    //AdS
    var markersAdS = new L.MarkerClusterGroup({
        showCoverageOnHover: false,
        
    });
        for (var i = 0; i < universiteAdS.length; i++) {
            var a = universiteAdS[i];
            var title = a[0];
            var marker = L.marker(new L.LatLng(a[1], a[2]), { title: title });
            marker.bindPopup(title + '<br/>'+'Ranking:  '+a[3]+'/5'+'<br/>'+'Qualité de vie:  '+a[4]+'/5'+'<br/>'+'<a href=/exchange/universite/'+a[5]+'><p style="text-align:center;margin:0;padding:0;">Cliquez ici</p></a>'); //quand on clique (metter info plus url avec href accolade)
            markersAdS.addLayer(marker); 
        }
        map.addLayer(markersAdS);
    
    //EU
    var markersEU = new L.MarkerClusterGroup({
        showCoverageOnHover: false,
        
    });
        for (var i = 0; i < universiteEU.length; i++) {
            var a = universiteEU[i];
            var title = a[0];
            var marker = L.marker(new L.LatLng(a[1], a[2]), { title: title });
            marker.bindPopup(title + '<br/>'+'Ranking:  '+a[3]+'/5'+'<br/>'+'Qualité de vie:  '+a[4]+'/5'+'<br/>'+'<a href=/exchange/universite/'+a[5]+'><p style="text-align:center;margin:0;padding:0;">Cliquez ici</p></a>'); //quand on clique (metter info plus url avec href accolade)
            markersEU.addLayer(marker); 
            
        }
        map.addLayer(markersEU);
    
    //OC
    var markersOC = new L.MarkerClusterGroup({
        showCoverageOnHover: false,
        
    });
        for (var i = 0; i < universiteOC.length; i++) {
            var a = universiteOC[i];
            var title = a[0];
            var marker = L.marker(new L.LatLng(a[1], a[2]), { title: title });
            marker.bindPopup(title + '<br/>'+'Ranking:  '+a[3]+'/5'+'<br/>'+'Qualité de vie:  '+a[4]+'/5'+'<br/>'+'<a href=/exchange/universite/'+a[5]+'><p style="text-align:center;margin:0;padding:0;">Cliquez ici</p></a>'); //quand on clique (metter info plus url avec href accolade)
            markersOC.addLayer(marker); 
        }
        map.addLayer(markersOC);

    var marker_test = L.marker(new L.LatLng(0, 0), { title: "Test" });
    marker_test.bindPopup('<div id="main_div">Test<p style="margin:0;padding:0;">Ranking:  </p></div>'); //quand on clique (metter info plus url avec href accolade)
    map.addLayer(marker_test);
    
{% endblock scripts %}