{% extends 'exchange/base.html' %}
{% load static %}

{% block style %}
{% endblock style %}

{% block head %}
    <title>Ajouter une info - Departement</title>
{% endblock head %}

{% block intro %}
{% endblock intro %}

{% block nav %}
    <ul class="links">
        <li class="active"><a href="/exchange/accueil">Recherche par pays</a></li>
        <li><a href="/exchange/recherche_avance">Recherche avancée</a></li>
        <li><a href="/exchange/rajouter">Ajouter une info</a></li>
        {% if user.is_authenticated %}
        <li><a href="/exchange/deconnexion">Déconnexion</a></li>
        {% else %}
        <li><a href="/exchange/connexion">Connexion</a></li>
        {% endif %}
    </ul>
{% endblock nav %}

{% block main %}
    <header class="major">
        <h1>Ajouter<br />
        une info</h1>
        <p>Donne ton avis sur ton échange à l'étranger</p>
    </header>

    <div class="table-wrapper">
        <header>
                <h3>Informations sur l'université</h3>
        </header>
        <form action="{% url 'rajoutInfo2' Uni.ID Stud.ID %}" method="post">
            {% csrf_token %}
                
                {{ formTest.as_p}}
            <h3>Informations Langue</h3>
            <label for="{{form2.Language.id_for_label}}">Langue des cours</label>    
            {{ form2.Language }}
            <i>Si vous n'avez pas passé de certification, cliquez sur "Continuer"</i>
        </br>
            <label for="{{form2.LanguageDiploma.id_for_label}}">Quel certification linguistique avez-vous du passer ?</label>    
            {{ form2.LanguageDiploma }}
        </br>
            <label for="{{form2.LanguageLevel.id_for_label}}">Quel niveau avez-vous du certifier ?</label>    
            {{ form2.LanguageLevel }}
        </br>
            <input type="submit" value="Continuer">
        </form>
    </div>
{% endblock main %}

{% block scripts %}
{% endblock scripts %}