{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Ajouter une info</title>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="shortcut icon" type="image/png" href="{% static 'exchange/images/AstusNoBackground.png' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'exchange/assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" type="text.css" href="{% static 'exchange/assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">
                <header id="header">
                    <a href="/exchange/accueil" class="logo">Accueil</a>
                </header>

            <!-- Nav -->
                <nav id="nav">
                    <ul class="links">
                        <li><a href="/exchange/accueil">Recherche par pays</a></li>
                        <li><a href="/exchange/recherche_avance">Recherche avancée</a></li>
                        <li class="active"><a href="/exchange/rajouter">Ajouter une info</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="/exchange/deconnexion">Se déconnecter de {{user.username}}</a></li>
                        {% else %}
                        <li><a href="/exchange/connexion">Se connecter</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <div id="main">
                    <header class="major">
                        <h1>Ajouter<br />
                        une info</h1>
                        <p>Donne ton avis sur ton échange à l'étranger</p>
                    </header>
                    
                    <div class="table-wrapper">
                        <header>
                                <h3>Informations sur l'université</h3>
                        </header>
                        <form action="{% url 'rajoutInfo2' Uni.ID Stud.ID %}" method="post">
                            {% csrf_token %}
                                {{ form.as_p }}
                            <h3>Informations Langue</h3>
                                {{ form2.as_p }}
                            <input type="submit" value="Continuer">
                        </form>
                    </div>
                </div>
            </div>
            <div id="copyright">
                <ul><li>&copy; Astus International</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
            </div>
                    
            <script src="{% static 'exchange/assets/js/jquery.min.js' %}"></script>
            <script src="{% static 'exchange/assets/js/jquery.scrollex.min.js' %}"></script>
            <script src="{% static 'exchange/assets/js/jquery.scrolly.min.js' %}"></script>
            <script src="{% static 'exchange/assets/js/browser.min.js' %}"></script>
            <script src="{% static 'exchange/assets/js/breakpoints.min.js' %}"></script>
            <script src="{% static 'exchange/assets/js/util.js' %}"></script>
            <script src="{% static 'exchange/assets/js/main.js' %}"></script>
    </body>
</html>
